<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Career Recommendation</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Find Your Career Path</h1>

        <form id="career-form">
            <label for="skills-input">Skills:</label>
            <input type="text" id="skills-input" placeholder="Enter skills" autocomplete="off">
            <div id="skills-suggestions" class="suggestions"></div>
            <div id="skills-input-selected" class="cloud-container"></div>

            <label for="industries-input">Industries:</label>
            <input type="text" id="industries-input" placeholder="Enter industries" autocomplete="off">
            <div id="industries-suggestions" class="suggestions"></div>
            <div id="industries-input-selected" class="cloud-container"></div>


            <label for="work-styles-input">Preferred Work Style:</label>
            <input type="text" id="work-styles-input" placeholder="Enter preferred work style(s)" autocomplete="off">
            <div id="work-styles-suggestions" class="suggestions"></div>
            <div id="work-styles-input-selected" class="cloud-container"></div>

            <button type="submit">Get Recommendations</button>
            <button type="button" id="reset">Reset</button>
        </form>

        <div id="recommendations"></div>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>
